{% extends '/admin/base.html' %}

{% block title %}Contributor Profile{% endblock %}


{% block navbar %}
<!-- Navbar -->
{% include '/website/navbar 2.html' %}

<!-- End of Navbar -->
{% endblock %}

{% block sidebar %}
<!-- Sidebar -->
{% include '/website/sidebar.html' %}

<!-- End of Sidebar -->
{% endblock %}

{% block content %}



{% endblock %}


{% block footer %}
<!-- Footer -->
{% include '/website/footer 3.html' %}
<!-- End of Footer -->
{% endblock %}



{% block scripts %}
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>

<!-- Bootstrap core JavaScript-->
<script src="/static/admin dashboard static/Admin dashboard startboostrap/vendor/jquery/jquery.min.js"></script>
<script
      src="/static/admin dashboard static/Admin dashboard startboostrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script
      src="/static/admin dashboard static/Admin dashboard startboostrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/admin dashboard static/Admin dashboard startboostrap/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/static/admin dashboard static/Admin dashboard startboostrap/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/admin dashboard static/Admin dashboard startboostrap/js/demo/chart-area-demo.js"></script>
<script src="/static/admin dashboard static/Admin dashboard startboostrap/js/demo/chart-pie-demo.js"></script>





<!-- Bootstrap core JS for website-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
<!-- Core theme JS-->
<script src="/static/care template  1 static/js/scripts.js"></script>

{% endblock %}