{% extends '/website/base.html' %}



<!-- Trial-->

{% block header %}

<!-- Header-->
<!-- Feature section one-->

<!--  hero section-->

{% for page_data in contact_page_data %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{page_data.img_url }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image"
        width="700" height="500" loading="lazy" />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        {{ page_data.page_name }}
      </h1>
      <p class="lead">{{ page_data.banner_subheading }}</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
          Primary
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">
          Default
        </button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container px-5">
    <!-- Contact form-->
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">

      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * *  Contact Form * *-->
          <!-- * * * * * * * * * * * * * * *-->

          <form id="contactForm" method="POST" action="{{ url_for('contact_us') }}">
            {{ form.hidden_tag() }}

            <!-- Name input-->
            <div class="form-floating mb-3">
              {{ form.name(class_="form-control", id="name", placeholder="Enter
              your name...") }}
              <label for="name">Full name</label>
              {% if form.name.errors %}
              <div class="invalid-feedback" data-sb-feedback="name:required">
                {{ form.name.errors[0] }}
              </div>
              {% endif %}
            </div>

            <!-- Email address input-->
            <div class="form-floating mb-3">
              {{ form.email(class_="form-control", id="email",
              placeholder="name@example.com") }}
              <label for="email">Email address</label>
              {% if form.email.errors %}
              <div class="invalid-feedback" data-sb-feedback="email:required">
                {{ form.email.errors[0] }}
              </div>
              {% endif %}
            </div>

            <!-- Phone number input-->
            <div class="form-floating mb-3">
              {{ form.number(class_="form-control", id="phone",
              placeholder="(123) 456-7890") }}
              <label for="phone">Phone number</label>
              {% if form.number.errors %}
              <div class="invalid-feedback" data-sb-feedback="phone:required">
                {{ form.number.errors[0] }}
              </div>
              {% endif %}
            </div>

            <!-- Message input-->
            <div class="form-floating mb-3">
              {{ form.message(class_="form-control", id="message",
              placeholder="Enter your message here...", style="height: 10rem")
              }}
              <label for="message">Message</label>
              {% if form.message.errors %}
              <div class="invalid-feedback" data-sb-feedback="message:required">
                {{ form.message.errors[0] }}
              </div>
              {% endif %}
            </div>

            <!-- Submit Button-->
            <div class="d-grid">
              {{ form.submit(class_="btn btn-primary btn-lg", id="submitButton")
              }}
            </div>
          </form>
        </div>
      </div>
    </div>

    

    









  </div>
</section>
{% for page_data in contact_page_data %}
<!-- Contact cards-->

{% include 'website/contact-card-2.html' %}

<!--Google map-->
<div class="container px-5 my-5">
  <div class="row gx-5 align-items-center">
    <div class="col-lg-6">
      <div class="google-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus"
          style="border: 2px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="col-lg-6">
      {{ page_data.content | safe }}
    </div>
  </div>
</div>







{% endfor %}

{% endblock %}