{% extends '/website/base.html' %}

{% block header %}
<!--  hero section-->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img
                src="{{ service.homepage_image_url }}"
                class="img-fluid border rounded-3 shadow-lg mb-4"
                alt="Example image"
                width="700"
                height="500"
                loading="lazy"
            />
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ service.service_name }}</h1>
            <p class="lead">{{ service.banner_subheading }}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Feature section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <img
                    class="img-fluid rounded mb-5 mb-lg-0"
                    src="{{ service.feature_one_image_url }}"
                    alt="..."
                    width="600"
                    height="400"
                />
            </div>
            <div class="col-lg-6">
                {{ service.feature_one_description | safe }}
            </div>
        </div>
    </div>
</section>

<!-- Feature section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last">
                <img
                    class="img-fluid rounded mb-5 mb-lg-0"
                    src="{{ service.feature_two_image_url }}"
                    alt="..."
                    width="600"
                    height="400"
                />
            </div>
            <div class="col-lg-6">
                {{ service.feature_two_description | safe }}
            </div>
        </div>
    </div>
</section>
{% endblock %}