{% from 'bootstrap4/form.html' import render_form %}



<!--Service Table-->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ service.service_name }}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Service Name</th>
                        <th>Banner Subheading</th>
                        <th>Homepage Description</th>
                        <th>Service Body Content</th>
                        <th>Service Image URL</th>
                        
                    </tr>
                </thead>
                <tbody>
                   
                    <tr>
                        <td>{{ service.id }}</td>
                        <td>{{ service.service_name }}</td>
                        <td>{{ service.banner_subheading }}</td>
                        <td>{{ service.homepage_description }}</td>
                        <td>{{ service.service_body_content }}</td>
                        <td><img src="{{ service.service_img_url }}" alt="Service Image" style="width: 100px;"></td>

                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>


{{ render_form(service_form, novalidate=True) }}