{% extends '/admin/base.html' %}
{% from 'bootstrap4/form.html' import render_form %}


{% block title %}Edit Home Page Content{% endblock %}

{% block content %}




<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800"> Home Page Content</h1>


<div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>name</th>
                        <th>Heading</th>
                        <th>Subheading</th>
                        <th>Image Url</th>
                        <th>Home Page Image </th>
                        
                    </tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    
                        <td>{{ home.id }}</td>
                        <td>{{ home.name }}</td>
                        <td>{{ home.heading }}</td>
                        <td>{{ home.subheading }}</td>
                        <td>{{ home.img_url }}</td>
                        <td>
                            <img src="{{ home.img_url }}" alt="Home Page Image" style="width: 100px;"></td>                            
                            
                            <a href="#" class="btn btn-primary m-1">
                                <i class="fas fa-home "></i> View Home Page
                            </a>

                  

           



                        
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


{% include 'admin/admin-home-form.html' %}

{% endblock %}
