<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  {% if current_user.is_authenticated %} {% if current_user.role == 'Admin' %}
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('admin_bp.profile')}}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Admin Dashboard</div>
  </a>




  {% elif current_user.role == 'Contributor' %}
  <a class="sidebar-brand d-flex align-items-center justify-content-center"
    href="{{url_for('contributor_bp.profile')}}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Contributor Dashboard</div>
  </a>
  {% else %}
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('user_bp.profile')}}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">User Dashboard</div>
  </a>
  {% endif %} {% endif %}

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    {% if current_user.is_authenticated %} {% if current_user.role == 'Admin' %}
    <a class="nav-link" href="{{ url_for('admin_bp.profile') }}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Profile</span>
    </a>
    {% elif current_user.role == 'Contributor' %}
    <a class="nav-link" href="{{ url_for('contributor_bp.profile') }}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Profile</span>
    </a>
    {% else %}
    <a class="nav-link" href="{{ url_for('user_bp.profile') }}">
      <i class="fa-solid fa-user"></i>
      <span>Profile</span>
    </a>
    {% endif %} {% endif %}
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  {% if current_user.is_authenticated %} {% if current_user.role == 'Admin' %}
  <div class="sidebar-heading">Interface</div>

  {% elif current_user.role == 'Contributor' %}
  <div class="sidebar-heading">Interface</div>

  {% else %}
  <div class="sidebar-heading">Your Feed</div>

  {% endif %} {% endif %}

  <!-- Nav Item - Pages Collapse Menu -->

  {% if current_user.is_authenticated %} {% if current_user.role == 'Admin' %}
  <!-- Manage Users -->
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('admin_bp.get_users')}}">
      <i class="fa-solid fa-users-gear"></i> <span>Manage Users</span>
    </a>
  </li>

  <!--Customise pages-->
 <!-- <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomise" aria-expanded="true"
      aria-controls="collapseCustomise">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Customise</span>
    </a>
    <div id="collapseCustomise" class="collapse" aria-labelledby="headingCustomise" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">modify content</h6>
        <a class="collapse-item" href="{{url_for('admin_bp.get_home_content')}}">Home page</a>
        <a class="collapse-item" href="{{ url_for('admin_bp.services') }}">Services</a>
        <a class="collapse-item" href="{{url_for('admin_bp.customize_contact_page')}}">Contact Info</a>
        <a class="collapse-item" href="{{url_for('admin_bp.get_about_content')}}">About Us</a>
        <a class="collapse-item" href="utilities-other.html">Careers</a>
      </div>
    </div>
  </li>
  -->

  {% endif %}

<!--Blog content-->

      
{% if current_user.role == 'Admin' %}
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBlogPosts" aria-expanded="true"
    aria-controls="collapseBlogPosts">
    <i class="fa-solid fa-book"></i>
    <span>Blog Posts</span>
  </a>
  <div id="collapseBlogPosts" class="collapse" aria-labelledby="headingBlogPosts" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
<h6 class="collapse-header">Blog related Content</h6>
<a class="collapse-item" href="{{ url_for('blog_bp.get_posts') }}">My Post</a>
<a class="collapse-item" href="{{ url_for('admin_bp.manage_categories') }}">Manage Post Categories</a>
<a class="collapse-item" href="{{url_for('admin_bp.manage_posts')}}">Manage All Posts</a>
  </div>
  </div>
  </li>


      {% elif current_user.role == 'Contributor' %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBlogPosts" aria-expanded="true"
          aria-controls="collapseBlogPosts">
          <i class="fa-solid fa-book"></i>
          <span>Blog Posts</span>
        </a>
        <div id="collapseBlogPosts" class="collapse" aria-labelledby="headingBlogPosts" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Blog related Content</h6>
      <a class="collapse-item" href="{{url_for('blog_bp.get_posts')}}">My Posts</a>
        </div>
        </div>
        </li>

      {% else %}
     
      {% endif %}


  

<!--Heath tool content-->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fa-solid fa-hand-holding-medical"></i>
      <span>Health Tools</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Exclusive Member tools</h6>
        <a class="collapse-item" href="{{url_for('user_bp.bmi_calculator')}}">BMI Calculator</a>
        <!--<a class="collapse-item" href="#">Food Calculator</a>
        <a class="collapse-item" href="#">Exercise Calculator</a>-->
      </div>
    </div>
  </li>

  

  {% endif %}

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->

  {% if current_user.is_authenticated %} {% if current_user.role == 'Admin' %}

  <div class="sidebar-heading">Addons</div>

  {% elif current_user.role == 'Contributor' %}
  <!-- Heading -->
  <div class="sidebar-heading">Addons</div>

  {% else %}
  <!-- Heading -->
  <div class="sidebar-heading">Extras</div>

  {% endif %} {% endif %}

  <!-- Nav Item - Pages Collapse Menu -->

  {% if current_user.is_authenticated %} {% if current_user.role == 'Admin' %}
 <!--
  <li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pages</span>
    </a>
    <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Visible Screens:</h6>
        <a class="collapse-item" href="#">Services</a>
        <a class="collapse-item" href="#">About Us</a>
        <a class="collapse-item" href="#">Contact Us</a>
        <a class="collapse-item" href="#">Careers</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Other Pages:</h6>
        <a class="collapse-item" href="#">Home Page</a>
      </div>
    </div>
  </li>-->

  {% elif current_user.role == 'Contributor' %}
  <!--<li class="nav-item active">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
      aria-controls="collapsePages">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pages</span>
    </a>
    <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Visible Screens:</h6>
      
        <a class="collapse-item" href="#">Services</a>
        <a class="collapse-item" href="#">About Us</a>
        <a class="collapse-item" href="#">Contact Us</a>
        <a class="collapse-item" href="#">Careers</a>
        <div class="collapse-divider"></div>
        <h6 class="collapse-header">Other Pages:</h6>
        <a class="collapse-item" href="#">Home Page</a>
      </div>
    </div>
  </li>-->

  {% else %} {% endif %} {% endif %}

  <!-- Nav Item - Charts -->
  {% if current_user.is_authenticated %} {% if current_user.role == 'Admin' %}
<!-- <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li>
  -->



  {% else %}
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('user_bp.contact_admin')}}">
      <i class="fa-solid fa-envelope"></i>
      <span>Get in Touch</span></a>
  </li>

  {% endif %} {% endif %}



  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>