{% extends '/website/base.html' %}



{% block navigation %}
<!-- Navigation-->
{% include '/blog/blogNavBar.html' %}

<!-- End Navigation-->
{% endblock %}

{% block content %}
<!-- Page Content-->
{% if latest_post %} <!--If there is a post-->
<section class="py-5">
    <div class="container px-5">
        <h1 class="fw-bolder fs-5 mb-4">Latest stories</h1>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                        <div class="p-4 p-md-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                            <div class="h2 fw-bolder">{{latest_post.title}}</div>
                            <p>{{latest_post.subtitle}}</p>
                            <a class="stretched-link text-decoration-none"
                                href="{{url_for('blog_bp.view_post', post_id=latest_post.id)}}">
                                Read more
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <div class="bg-featured-blog" style="background-image: url('{{latest_post.img_url}}')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%else%}
<section class="py-5">
    <div class="container px-5">
        <h1 class="fw-bolder fs-5 mb-4">Latest stories</h1>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                        <div class="p-4 p-md-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                            <div class="h2 fw-bolder">No posts yet</div>
                            <p>There are no posts yet. Check back later for updates.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <div class="bg-featured-blog"
                            style="background-image: url('https://dummyimage.com/600x350/adb5bd/495057')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endif%}
<!--Recomeded Posts-->
<section class="py-5">
    <div class="container px-5">
        <h2 class="fw-bolder fs-5 mb-4">Recomended Posts</h2>
        <div class="row mb-2">
            {% for post in recommended_posts %}
            <div class="col-md-6">

                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">

                        <strong class="d-inline-block mb-2 text-primary-emphasis"></strong>

                        <h3 class="mb-0">{{post.title}}</h3>
                        <div class="mb-1 text-body-secondary">{{ post.date}}</div>
                        <p class="card-text mb-auto">{{ post.excerpt }}</p>
                        <a href="{{ url_for('blog_bp.view_post', post_id=post.id) }}"
                            class="icon-link gap-1 icon-link-hover stretched-link">
                            Continue reading
                            <svg class="bi">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="{{ post.img_url }}" alt="Thumbnail" class="bd-placeholder-img" width="200"
                            height="250">
                    </div>
                </div>

            </div>
            {% endfor %}


        </div>
    </div>
</section>
<!--End of LatestPosts-->

<section class="py-5 bg-light">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-xl-8">
                <h2 class="fw-bolder fs-5 mb-4">Latest Stories</h2>
                <!-- News item-->
                {% for post in latest_posts %}
                <div class="mb-4">
                    <div class="small text-muted">{{post.date}}</div>
                    <a class="link-dark" href="{{ url_for('blog_bp.view_post', post_id=post.id) }}">
                        <h3>{{post.title}}</h3>
                    </a>
                </div>
                {% endfor %}
                <div class="text-end mb-5 mb-xl-0">
                    <!-- <a class="text-decoration-none" href="#!">
                                    More news
                                    <i class="bi bi-arrow-right"></i>-->
                    </a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card border-0 h-100">
                    <div class="card-body p-4">
                        <div class="d-flex h-100 align-items-center justify-content-center">
                            <div class="text-center">
                                <div class="h6 fw-bolder">Contact</div>
                                <p class="text-muted mb-4">
                                    For press inquiries, email us at
                                    <br />
                                    <a href="mailto:tanaka.mush@gmail.com">tanaka.mush@gmail.com</a>
                                </p>
                                <div class="h6 fw-bolder">Follow us</div>
                                <!--<a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a> -->
                                <a class="fs-5 px-2 link-dark" href="https://www.instagram.com/ashleybytes/"><i
                                        class="bi-instagram"></i></a>
                                <a class="fs-5 px-2 link-dark" href="www.linkedin.com/in/ashley-m-8917781b5

"><i class="bi-linkedin"></i></a>
                                <a class="fs-5 px-2 link-dark" href="https://www.youtube.com/@AshleyMush"><i
                                        class="bi-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog preview section-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Expert ad patient contibutors posts</h2>
                    <p class="lead fw-normal text-muted mb-5">These posts are written by our experts and contributors,
                        sharing their knowledge and experiences to provide valuable insights and information. Stay tuned
                        for more updates and stories from our dedicated team.</p>
                </div>
            </div>
        </div>

        <div class="row gx-5">
            {% for post in latest_posts_per_author %}
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{{post.img_url}}" alt="..." width="600" height="300">
                    <div class="card-body p-4">
                        {% for category in post.categories %}
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{category.name}}</div>
                        {% endfor %}
                        <a class="text-decoration-none link-dark stretched-link"
                            href="{{url_for('blog_bp.view_post', post_id=latest_post.id)}}">
                            <h5 class="card-title mb-3">{{post.title}}</h5>
                        </a>
                        <p class="card-text mb-0">{{post.subtitle}}</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d"
                                    alt="...">
                                <div class="small">
                                    <div class="fw-bold">{{post.author.first_name}} {{post.author.last_name}}</div>
                                    <div class="text-muted">{{post.date}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
        <!--Contributor Cards-->

        <!-- Call to action-->
        <!--
                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        <div
                            class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                                <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                            </div>
                            <div class="ms-xl-4">
                                <div class="input-group mb-2">
                                    <input class="form-control" type="text" placeholder="Email address..."
                                        aria-label="Email address..." aria-describedby="button-newsletter">
                                    <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                                </div>
                                <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                            </div>
                        </div>
                    </aside>
                </div>
            </section>-->

        {% endblock %}