{% extends '/admin/base.html' %}

{% block title %}Make Post{% endblock %}

{% block content %}




<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        Managing {{current_user.first_name}} {{current_user.last_name}}'s Posts
    </h1>
    <div class="row">
        <!-- Role Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Role
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{current_user.role}}
                            </div>
                        </div>
                        <div class="col-auto">
                            {% if current_user.role == 'Admin' %}
                            <i class="fa-solid fa-ranking-star fa-2x text-gray-300"></i>

                            {% elif current_user.role == 'Contributor' %}
                            <i class="fa-solid fa-pen-nib fa-2x text-gray-300"></i>

                            {% else %}
                            <i class="fa-solid fa-user fa-2x text-gray-300"></i>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Posts  Card Example -->

        {% if not current_user.role=='User' %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Posts
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ all_posts|length }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Comments Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Comments
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header -->
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Contributions and Posts</h1>
                    <p class="lead text-body-secondary">Feeling creative? Let' make some magic</p>

                    {% if current_user.is_authenticated %}
                    {% if current_user.role != 'User' %}

                    <p>
                        <a href="{{ url_for('blog_bp.add_new_post') }}" class="btn btn-info btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span class="text">Write Blog Post</span>
                        </a>
                        <a href="{{url_for('blog_bp.blog_home')}}" class="btn btn-secondary my-2">View Home page</a>
                    </p>


                </div>
            </div>
        </section>
        {% endif %} {% endif %}
        <!-- End of Header -->


        <!--Posts Card-->
        {% if all_posts %}
        <div class="row gx-5">
            {% for post in all_posts %}
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{{post.img_url}}" alt="..." loading="lazy">
                    <div class="card-body p-4">
                        {% if loop.last %}
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Most Recent</div>
                        {% else %}
                        <!--<div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>-->
                        {% endif %}
                        <a class="text-decoration-none link-dark " href="#!">
                            <h5 class="card-title mb-3">{{post.title}}</h5>
                        </a>
                        <p class="card-text mb-0">
                            {{post.subtitle}}
                        </p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d"
                                    alt="...">
                                <div class="small">
                                    <div class="fw-bold">{{post.author.first_name}} {{post.author.last_name}}</div>
                                    <div class="text-muted">{{post.date}}</div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Buttons-->
                        <div class="d-flex align-items-center gap-2 mt-3">
                            <a href="{{ url_for('blog_bp.delete_post', post_id=post.id) }}"
                                class="btn btn-danger btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text">Delete Post</span>
                            </a>
                            <a href="{{url_for('blog_bp.edit_post', post_id = post.id)}}"
                                class="btn btn-info btn-icon-split">
                                <span class="icon text-white-50">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <span class="text">Edit Post</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            📝You have not made any posts yet. Click the button above to get started.
            </div>
        {% endif %}


    </div>



    {% endblock %}