{% extends '/admin/base.html' %}
{% from 'bootstrap4/form.html' import render_form %}


{% block title %}Creating Blog Post {% endblock %}

{% block content %}
        
      <!-- Contribute Post form-->  
        {% if current_user.role != 'User' %}
        <form method="POST" action="{{ url_for('blog_bp.add_new_post') }}">

       
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label }}
                {{ form.title(class="form-control") }}
                {% for error in form.title.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.subtitle.label }}
                {{ form.subtitle(class="form-control") }}
                {% for error in form.subtitle.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.img_url.label }}
                {{ form.img_url(class="form-control") }}
                {% for error in form.img_url.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.body.label }}
                {{ form.body(class="form-control") }}
                {% for error in form.body.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        {% endif %}
 

        {% endblock %}